header
    .header-column 
        a.title(href="#") ads
        ul
            li 
                a(href="#") contact
            li 
                a(href="#") team 
            li 
                a(href="#") clients
    .header-column
        ul 
            li 
                a(href="#") projects
            li 
                a(href="#") tout
        .language en
