extends templates/layout

block content
    main
        .project 
            img.project-img(src="img/design1.jpg")
            .project-title project 1
        .project 
            img.project-img(src="img/design2.jpg")
            .project-title project 2
        .project 
            img.project-img(src="img/design3.jpg")
            .project-title project 3
        .project 
            img.project-img(src="img/design4.jpg")
            .project-title project 4
        .project 
            img.project-img(src="img/design5.jpg")
            .project-title project 5
        .project 
            img.project-img(src="img/design6.jpg")
            .project-title project 6
        .project 
            img.project-img(src="img/design7.jpg")
            .project-title project 7
        .project 
            img.project-img(src="img/design8.jpg")
            .project-title project 8
        .project 
            img.project-img(src="img/design9.jpg")
            .project-title project 9
        .project 
            img.project-img(src="img/design10.jpg")
            .project-title project 10
        .project 
            img.project-img(src="img/design11.jpg")
            .project-title project 11
        .project 
            img.project-img(src="img/design12.jpg")
            .project-title project 12