@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  width: 100%;
  font-family: "Montserrat";
  color: rgba(0, 0, 0, 1);
}

img {
  width: 20%;
  height: 20vh;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 1);
}

header {
  width: 100%;
  height: 5vh;
  font-size: 1.6rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include responsive("phone") {
    display: flex;
  }
  @include responsive("tablet") {
    display: flex;
  }
  .header-column {
    width: 100%;
    @include responsive("phone") {
      width: 50%;
    }
    @include responsive("tablet") {
      width: 50%;
    }
    display: flex;
    &:hover {
      background-color: #e0e1e2;
    }
    &:first-child {
      ul {
        padding-left: 5%;
        @include responsive("phone") {
          display: none;
        }
        @include responsive("tablet") {
          display: none;
        }
      }
    }
    &:last-child {
      justify-content: space-between;
      ul {
        li {
          padding-left: $paddingLeft;
          width: 50%;
          &:first-child {
            @include responsive("phone") {
              display: none;
            }
            @include responsive("tablet") {
              display: none;
            }
            @include responsive("laptop") {
              width: 70%;
            }
          }
          a {
            color: rgba(0, 0, 0, 1);
          }
        }
      }
    }
    .title {
      width: 10%;
      display: flex;
      align-items: center;
      padding-left: $paddingLeft;
      &:hover {
        color: white;
      }
    }
    ul {
      display: flex;
      align-items: center;
      width: 60%;
      li {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        a {
          color: rgba(0, 0, 0, 0.2);
          &:hover {
            color: white;
          }
        }
      }
    }
    .language {
      width: 10%;
      height: 80%;
      display: flex;
      align-items: flex-end;
      font-size: 0.9rem;
      cursor: pointer;
      @include responsive("phone") {
        display: none;
      }
    }
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(231px, auto);
  @include responsive("phone") {
    display: block;
  }
  @include responsive("tablet") {
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
    width: 100%;
    height: 100%;
    .project-img {
      width: 100%;
      height: 95%;
      @include responsive("tablet") {
        height: 93%
      }
      @include responsive("laptop") {
        height: 93%;
      }
    }
    .project-title {
      background-color: white;
      width: 100%;
      height: 32px;
      font-size: 12px;
      font-weight: 700;
      padding-left: $paddingLeft;
      text-transform: uppercase;
    }
  }
}
